/* css header */
header{
}
header .header__logo{
    font-size: 2.4rem;
}
header .header__menu .menu__items{
    margin: 0 2rem ;
}
header .menu__items-link{
    padding: 0 8px;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--white-color);
}

/*  */
main{
    width: 100%;
}
/*  */
.introduce{
    height: 45rem;

}
main .introduce__content-maintext h1{
    font-size: 5rem;
    /* word-spacing:; */
}
main .introduce__content-text h2{
    font-size: 4rem;
}
main .introduce__content .introduce-myname{
    color: #f9d081;
   
}
.introduce__btn{
    margin-top: 8rem;
    display: inline-block;
    background: #fff;
    border-radius: 1rem;
}
 .introduce__btn-link{
    font-size: 2rem;
    color: #879EFF;
}
.introduce__btn:hover .introduce__btn-link{
    color: #272c42;
}
.introduce__img{
    position: relative;
    top: -13.5rem;
}
.introduce::after{
    content: "";
    background-image:  url("../img/Projectbg.png"); 
    height: 18rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    position: relative;
    top: -5rem;
    z-index: 1;
}
#project{
    z-index: 1000;
    position: relative;
}
#project::before{
    content: "";
    background: url(../img/Projectbg2.png);
    background-size: cover;
    position: absolute;
    background-position: top 2% center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.project__content-title h1{
    color: #879EFF;
    font-weight: bold;
}
/* card project */
#project .card-img-top{
    border-radius: 1.5rem 1.5rem 0 0;
}
#project .card-text,
#project .card-link{
    font-size: 1.6rem;
    color: #fff;
}

#project .card-link{
    color: #283980;
}
#project .card-body{
    background-color: #879EFF;
    border-radius: 0 0 1.5rem 1.5rem;

    
}


/* About */
#about{
    background-color: #eff2ff !important;
}
.about__content{
    background-color: #9FB5FF;
    width: 85%;
    height: 100%;
    border-radius: 0 3rem 3rem 0;
}
.about__content-text h1{
    font-size: 3.6rem;
}
.about__content-text p{
    font-size: 2rem;
}