/* css header */
header{
}
header .menu .menu__items{
    margin: 1.4rem;
}
header .menu__items-link{
    padding: 0 8px;
    font-size:small;
    text-decoration: none;
    color: var(--white-color);
}

/*  */
main{
    width: 100%;
    height: 100vh;
}
main .introduce__content-text h1{
    padding: 1rem 0 ;
    font-size: 2.5rem;
}
main .introduce__content-maintext h1{
    font-size: 6.4rem;
}
main .introduce__content .introduce-myname{
    color: #f9d081;
}
main .introduce__img {
    height: 100%;
}
